nav ul {
    list-style-type: None;
    text-decoration: None;
}
nav li {
    display: inline-block;
    border:1px;
    background-color: dodgerblue;
    color: whitesmoke;
    border-radius: 3px;
    padding: 4px;
    margin-right: 7px;
}